a {
  color:#720000;
}

a img {
  border: none;
}

body {
  background-color:#FFFFFF;
  color:#3D3D3D;
  font-family:Verdana,Helvetica,Arial;
  font-size:14px;
  margin:0px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

div {
  padding:0px;
  margin:0px;
  border:0px;
}

div.column_1 {
  clear:left;
  float:left;
  width:40%;
}

div.column_2 {
  float:left;
}

div.column_3 {
  clear:right;
  float:left;
}

img.icon {
  float:left;
  margin-left:40px;
  margin-right:60px;
}

li {
  background-image: url(/images/little_star.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 22px; 
  color:#3d3d3d;
  display:block;
}

span {
  padding:0px;
  margin:0px;
  border:0px;
}

ul {
  list-style-type: none;
}

#bar_padding {
  background:transparent url(/images/navigation_slice.png) repeat-x;
  width:358px;
  height:34px;
  float:left;
}

#bar_right {
  background:transparent url(/images/navigation_right.png) repeat-x;
  clear:right;
  width:71px;
  height:34px;
  float:left;
}

#content{
  padding-left:90px;
  padding-right:50px;
  padding-top:50px;
  padding-bottom:50px;
}

#navigation a{
  color:#FFF;
  text-decoration:none;
  line-height:250%;
}

#navigation div {
  float:left;
  height:34px;
  text-align:center;
  font-weight:bold;
}

#navigation div.left {
  background:transparent url(/images/navigation_left.png) no-repeat;
  width:71px;
}

#navigation div.right {
  background:transparent url(/images/navigation_right.png) no-repeat;
  width:120px;
}

#navigation div.tab{
  background:transparent url(/images/navigation_slice.png) repeat-x;
  width:120px;
}

div.selected{
  background:transparent url(/images/navigation_selected.png) repeat-x;
  width:120px;
}

#navigation div.tab:hover {
  background:transparent url(/images/navigation_hover.png) repeat-x;
}

#site_container{
  background:transparent url(/images/logo_bg.gif) no-repeat;
  margin-left: auto ;
  margin-right: auto ;
  width:1000px;
}
#shadow {
  background:#FFFFFF url(/images/shadow_sides.png) repeat-y scroll center top;
  clear:both;
  width:980px;
}

#footer {
  background: transparent url(/images/shadow_footer.png) no-repeat scroll center bottom;
  clear:both;
  width:980px;
  height:120px;
}

#footer_content {
  color:#FFF;
  background-color:#888888;
  border-color:#8833FF;
  margin:13px;
  padding-top:30px;
  width:954px;
  height:40px;
}

#footer_content ul a {
  color:#FFF;
}

#footer_content li {
  display:inline;
}

#post_title {
  color: #000;
  font-size: 18px;
}




/* nifty-layout markup */

#auto_title {
  margin-left:90px;
}
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

