a {
  color:#720000;
}

body {
  background:transparent url(/images/logo_bg.gif) no-repeat;
  background-color:#FFFFFF;
  color:#3D3D3D;
  font-family:Verdana,Helvetica,Arial;
  font-size:14px;
}

div {
  padding:0px;
  margin:0px;
}

#bar_padding {
  background:transparent url(/images/navigation_slice.png) repeat-x;
  width:358px;
  height:34px;
  float:left;
}

#bar_right {
  background:transparent url(/images/navigation_right.png) repeat-x;
  width:71px;
  height:34px;
  float:left;
}

#content{
  padding:30px;
}

#navigation a{
  color:#FFF;
  text-decoration:none;
}

#navigation div {
  float:left;
  padding-top:6px;
  height:34px;
  text-align:center;
  font-weight:bold;
}

#navigation div.left {
  background:transparent url(/images/navigation_left.png) no-repeat;
  width:71px;
}

#navigation div.right {
  background:transparent url(/images/navigation_right.png) no-repeat;
  width:120px;
}

#navigation div.tab{
  background:transparent url(/images/navigation_slice.png) repeat-x;
  width:120px;
}

div.selected{
  background:transparent url(/images/navigation_selected.png) repeat-x;
  width:120px;
}

#navigation div.tab:hover {
  background:transparent url(/images/navigation_hover.png) repeat-x;
}

#shadow {
  background:#FFFFFF url(/images/shadow_sides.png) repeat-y scroll center top;
  float:left;
  width:980px;
}

#footer {
  background: transparent url(/images/shadow_footer.png) no-repeat scroll center bottom;
  clear:both;
  width:980px;
  height:120px;
}

#footer_content {
  color:#FFF;
  background-color:#888888;
  border-color:#8833FF;
  margin:13px;
  padding-top:30px;
  width:954px;
  height:40px;
}

#footer_content a, li {
  display: inline;
  color:#FFF;
}
