- content_for(:title, 'Nagi Systems Ltd Software Development - Home')

%h2 Welcome
%p My name is Andrew Nagi, and I offer high quality bespoke software systems. Services include:
%ul
  %li Desktop Software Packages
  %li Database Systems
  %li Rich Internet Web Applications
%p I feel very strongly that applications should be intuitive and easy to use. A good quality, well balanced tool feels like an extension of you're hand. This is how I strive to make my software.
%p!= "Please feel free to browse the #{link_to 'portfolio', portfolio_url} section to see my recent work."
