<% title("Nagi Systems Ltd Software Development - Home", false)%>

<h2>Welcome</h2>
<p>
  My name is Andrew Nagi, and I offer high quality bespoke software systems. Services include:
</p>
<ul>
  <li>Desktop Software Packages</li>
  <li>Database Systems</li>
  <li>Rich Internet Web Applications</li>
</ul>
<p>
  I feel very strongly that applications should be intuitive and easy to use. A good quality, well balanced tool feels like an extension of you're hand. That is how I strive to make my software.
</p>
<p>
  Please feel free to browse the <a href="/portfolio">portfolio</a> section to see my recent work.
</p>
