<div id="RB_inner" onclick="RedBox.close(); return false;">

  <div id="RB_close">
    <%= image_tag('close.jpg', :onclick => "RedBox.close(); return false;") %>
  </div>

  <div id="RB_shot">
  <%= image_tag(@pic, :onclick => "RedBox.close(); return false;") %>
  </div>

  <br/>

  <%= submit_tag("Close", :onclick => "RedBox.close(); return false;") %>

</div>
