<% title("Nagi Systems Ltd - Contact", false)%>

<p>
  Due to the bespoke nature of my work, I would like to talk with you so that we can really get to grips with how you and your business work. That way, we can tailor a solution to both your requirements and your budget.
</p>

<%= image_tag "/images/phone.png", :class => "icon" %>
<h2>phone</h2>
<p>
  +44 (0)7530 124431
</p>

<%= image_tag "/images/mail.png", :class => "icon" %>
<h2>email</h2>
<p>
  info@nagisystems.com
</p>

<%= image_tag "/images/pen.png", :class => "icon" %>
<h2>write</h2>
<p>
  Nagi Systems Ltd, 19 West View, Letchworth, Herts, SG6 3QN
</p>
